.mgMax {
	display: flex;
	justify-content: center;
	color: #6A44F2;
	font-size: 30px;
}

div#limit-line {
	position: absolute;
	top: 25%;
	width: 100%;
}


hr {
	background-color: #6A44F2;
	height: 5px;
	z-index: -1;
}
