body {
  background: #F2F2F2;
  margin: 0px;
  position: relative;
}

/* Button for adding a drink */
#addDrinkModalBtn {
  margin: 15px 15px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #f2f2f2;
  background-color: #6A44F2;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}

#addDrinkModalBtn:hover {background-color: #7559D9}

#addDrinkModalBtn:active {
  background-color: #7E5EF2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Button for making your daily goal */
#logonBtn {
  position: fixed;
  right: 0;
  margin: 15px 15px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #f2f2f2;
  background-color: #6A44F2;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

#logonBtn:hover {background-color: #7559D9}

#logonBtn:active {
  background-color: #7E5EF2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Liquid Elements */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  min-height: 50px;
  max-height: 100px;
  transition: 1.0s;
}

.content {
  position:relative;
  bottom: 0px;
  height: 20vh;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}