body {
  background: #F2F2F2;
  margin: 0px;
}

/* Navigation */

.sidepanel {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7559D9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 75px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F2F2F2;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #7559D9;
  color: #f2f2f2;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}


/* Liquid Elements */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:15vh;
  min-height:50px;
  max-height:100px;
}

.content {
  position:relative;
  bottom: 0px;
  height:20vh;
  text-align:center;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}