html * {
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	background-color: #6A44F2;
	color: #F2F2F2;
	align-items: center;
	text-margin: 30px;
	font-size: 50px;
	height: 75px;
}